<mat-card appearance="outlined" class="m-4 p-4">
  <h3>{{ getDate() | date : "fullDate" }}</h3>
  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" class="full-width-table" mat-table>
      <ng-container matColumnDef="time">
        <th *matHeaderCellDef mat-header-cell>Time</th>
        <td *matCellDef="let spectacle" mat-cell>{{ spectacle.time }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>Title</th>
        <td *matCellDef="let spectacle" mat-cell>{{ spectacle.title }}</td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th *matHeaderCellDef mat-header-cell>Image</th>
        <td *matCellDef="let spectacle" mat-cell>
          <img [src]="spectacle.image_url" width="50"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th *matHeaderCellDef mat-header-cell>Parc</th>
        <td *matCellDef="let spectacle" mat-cell>{{ spectacle.location }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th *matHeaderCellDef mat-header-cell>Duration (min)</th>
        <td *matCellDef="let spectacle" mat-cell>{{ spectacle.duration??'.' }}</td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th *matHeaderCellDef mat-header-cell>Remove</th>
        <td *matCellDef="let spectacle" mat-cell>
          <button mat-icon-button color="warn" (click)="removeSpectacle(spectacle)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>
</mat-card>
