<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> {{ getDate() | date : "fullDate" }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="dataSource" class="full-width-table" mat-table>
      <ng-container matColumnDef="time">
        <th *matHeaderCellDef mat-header-cell>Time</th>
        <td *matCellDef="let spectacle" mat-cell>{{ spectacle.time }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>Title</th>
        <td *matCellDef="let spectacle" mat-cell>{{ spectacle.title }}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th *matHeaderCellDef mat-header-cell>Place</th>
        <td *matCellDef="let spectacle" mat-cell>{{ spectacle.location }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th *matHeaderCellDef mat-header-cell>Duration</th>
        <td *matCellDef="let spectacle" mat-cell>
          {{ spectacle.duration ?? "." }}
        </td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let spectacle" mat-cell>
          <button (click)="remove(spectacle)" color="warn" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>