<main class="flex flex-col lg:flex-row gap-y-4 lg:gap-x-4">
  <mat-card class="flex w-full lg:w-1/2" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Park Opening Hours</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>DLP with extra magic hour</strong></p>
      <p><span>8:00 - 22:00</span></p>
      <p><strong>WDS with extra magic hour</strong></p>
      <p><span>8:00 - 21:00</span></p>
    </mat-card-content>
  </mat-card>

  <mat-card class="flex  w-full lg:w-1/2" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Food and Beverage</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Breakfast</strong></p>
      <p><span>7:00 - 11:00</span></p>
      <p><strong>Soft drinks</strong></p>
      <p><span>12:00 - 22:00</span></p>
      <p><strong>Tea time</strong></p>
      <p><span>15:30 - 17:00</span></p>
    </mat-card-content>
  </mat-card>
</main>