<mat-card class="flex flex-col gap-4" raised>
  <mat-card-header>
    <div mat-card-avatar >
      @if (spectacle().location === DLP) {
      <mat-icon fontIcon="castle">castle</mat-icon>
      }
      @else {
      <mat-icon fontIcon="movie">movie</mat-icon>
      }
    </div>
    <mat-card-title>
      {{ spectacle().title | truncate : 30 }}
    </mat-card-title>
    <mat-card-subtitle>
      @if (spectacle().subtitle) {
        {{
          (spectacle().subtitle! | truncate : 30)
        }}
      } @else {
        {{ "&nbsp;" }}
      }
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col md:flex-row  w-full gap-y-4 lg:gap-x-4">
        <mat-chip class="w-full md:w-1/2">
          <mat-icon matChipTrailingIcon>home</mat-icon>
          {{ spectacle().location }}
        </mat-chip>
        @if (spectacle().duration) {
          <mat-chip class="w-full md:w-1/2">
            <mat-icon matChipTrailingIcon>schedule</mat-icon>
            {{ spectacle().duration }} min
          </mat-chip>
        }
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="flex flex-col w-full gap-4">
      <div class="flex items-center justify-center">
        <mat-button-toggle-group [formControl]="timeCtrl" [hideMultipleSelectionIndicator]="true" multiple>

          @for (time of spectacle().time; track time) {
            <mat-button-toggle value="{{ time }}">{{
                time
              }}
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>

      <app-days-select [selectedDay]="selectedDay"></app-days-select>


      <div class="flex flex-row w-full gap-x-4">
        <button (click)="add(spectacle())" class="w-full md:w-1/2" mat-flat-button>
          <mat-icon>add</mat-icon>
          Add
        </button>
        <button (click)="remove(spectacle())" class="w-full md:w-1/2" mat-flat-button>
          <mat-icon>remove</mat-icon>
          Remove
        </button>
      </div>
    </div>

  </mat-card-actions>
</mat-card>
