<section class="bg-red-700 p-12 rounded-2xl shadow-2xl relative overflow-hidden">
  <h1 class="mb-8 text-6xl text-yellow-300 font-extrabold drop-shadow-lg">
    DLRP Trip Planner
  </h1>
  <p class="mb-12 text-2xl text-white">
    Planifiez votre journée magique de Noël à Disneyland Paris !
  </p>

  <button mat-flat-button routerLink="/trip" routerLinkActive="active"
    class="bg-green-600 text-white hover:bg-yellow-400 hover:text-red-700 font-bold py-3 px-6 rounded-lg transition-colors">
    Commencez ici
  </button>
</section>