<main>
  <section class="py-2">
    <div class="flex py-1">
      <mat-button-toggle-group [formControl]="selectedParksCtrl" [hideMultipleSelectionIndicator]="true"
                               aria-label="parcs" multiple name="parcs">
        @for (selected_parc of selectedParcs; track selected_parc) {
          <mat-button-toggle value="{{ selected_parc }}"> <span class="truncate ">{{
              selected_parc
            }}</span>
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>

    @if (selectedParksCtrl.value | selectedPark:DLP) {
      <div class="flex py-1">
        <mat-button-toggle-group [hideMultipleSelectionIndicator]="true" name="selectedEventsDLP"
                                 aria-label="selectedEventsDLP" multiple [formControl]="spectaclesDLPCtrl">
          @for (selected_spectacle of spectaclesDLP; track
            selected_spectacle) {
            <mat-button-toggle value="{{ selected_spectacle }}">
              {{ selected_spectacle }}
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    }

    @if (selectedParksCtrl.value | selectedPark:WDS) {
      <div class="flex  py-1 ">
        <mat-button-toggle-group [hideMultipleSelectionIndicator]="true" name="selectedEventsWDS"
                                 aria-label="selectedEventsWDS" multiple [formControl]="spectaclesWDSCtrl">
          @for (selected_spectacle of spectaclesWDS; track
            selected_spectacle) {
            <mat-button-toggle value="{{ selected_spectacle }}">
              {{ selected_spectacle }}
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    }
  </section>

  <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 ">
    @for (spectacle of spectacles; track spectacle) {

      @if (selectedParksCtrl.value | selectedPark:WDS) {
        @if (experienceService.isSpectacleSelected(spectacle, spectaclesWDSCtrl.value)) {
          <app-spectacle-card [spectacle]="spectacle"></app-spectacle-card>
        }
      }

      @if (selectedParksCtrl.value | selectedPark:DLP) {
        @if (experienceService.isSpectacleSelected(spectacle, spectaclesDLPCtrl.value)) {
          <app-spectacle-card [spectacle]="spectacle"></app-spectacle-card>
        }
      }
    }
  </section>
</main>
