<div class="flex flex-col lg:flex-row mb-4">

  <mat-button class="mr-8 items-center flex hover:shadow-md hover:rounded-lg p-2" routerLink="/trip"
              routerLinkActive="active">
    <mat-icon class="mr-2">hotel</mat-icon>
    Trip info
  </mat-button>

  <mat-button class="mr-8 items-center flex hover:shadow-md hover:rounded-lg p-2" routerLink="/itinerary"
              routerLinkActive="active">
    <mat-icon class="mr-2">event_note</mat-icon>
    Itinerary
  </mat-button>
  <mat-button class="mr-8 items-center flex hover:shadow-md hover:rounded-lg p-2" routerLink="/spectacles"
              routerLinkActive="active">
    <mat-icon class="mr-2">schedule</mat-icon>
    Spectacles
  </mat-button>
  <mat-button class="mr-8 items-center flex hover:shadow-md hover:rounded-lg p-2" routerLink="/new-experience"
              routerLinkActive="active">
    <mat-icon class="mr-2">add</mat-icon>
    New experience
  </mat-button>
  <mat-button class="mr-8 items-center flex hover:shadow-md hover:rounded-lg p-2" routerLink="/general-info"
              routerLinkActive="active">
    <mat-icon class="mr-2">info</mat-icon>
    General info
  </mat-button>
</div>
