<nav class="flex mb-4 overflow-x-auto">
  <mat-button class="mr-2 lg:mr-8 items-center flex p-2 flex-shrink-0 nav-item nav-item-red" routerLink="/"
    routerLinkActive="active">
    <mat-icon class="lg:mr-2">home</mat-icon>
    <span class="hidden lg:inline">Home</span>
  </mat-button>
  
  <mat-button class="mr-2 lg:mr-8 items-center flex p-2 flex-shrink-0 nav-item nav-item-orange" routerLink="/trip"
    routerLinkActive="active">
    <mat-icon class="lg:mr-2">hotel</mat-icon>
    <span class="hidden lg:inline">Trip info</span>
  </mat-button>

  <mat-button class="mr-2 lg:mr-8 items-center flex p-2 flex-shrink-0 nav-item nav-item-yellow" routerLink="/itinerary"
    routerLinkActive="active">
    <mat-icon class="lg:mr-2">event_note</mat-icon>
    <span class="hidden lg:inline">Itinerary</span>
  </mat-button>
  
  <mat-button class="mr-2 lg:mr-8 items-center flex p-2 flex-shrink-0 nav-item nav-item-green" routerLink="/spectacles"
    routerLinkActive="active">
    <mat-icon class="lg:mr-2">schedule</mat-icon>
    <span class="hidden lg:inline">Spectacles</span>
  </mat-button>
  
  <mat-button class="mr-2 lg:mr-8 items-center flex p-2 flex-shrink-0 nav-item nav-item-blue" routerLink="/new-experience"
    routerLinkActive="active">
    <mat-icon class="lg:mr-2">add</mat-icon>
    <span class="hidden lg:inline">New experience</span>
  </mat-button>
  
  <mat-button class="mr-2 lg:mr-8 items-center flex p-2 flex-shrink-0 nav-item nav-item-purple" routerLink="/general-info"
    routerLinkActive="active">
    <mat-icon class="lg:mr-2">info</mat-icon>
    <span class="hidden lg:inline">General info</span>
  </mat-button>
</nav>